# importing libraries

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# importing datasets

In [89]:
weather = pd.read_excel("weather (1) (1).xlsx")

In [90]:
train = pd.read_csv("train.csv")

In [91]:
test = pd.read_csv("test.csv")

In [92]:
macro = pd.read_excel("macro_economic.xlsx")

In [93]:
train.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [94]:
test.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2015      1   WomenClothing                        NaN
1  2015      1     MenClothing                        NaN
2  2015      1   OtherClothing                        NaN
3  2015      2   WomenClothing                        NaN
4  2015      2     MenClothing                        NaN

In [95]:
weather.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,WeatherEvent
0,2009,Jan,1,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,1025.0,1023.0,1015.0,16.0,16.0,16.0,37.0,18.0,60.0,NaN
1,2009,Jan,2,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,...,1022.0,1012.0,1007.0,16.0,13.0,2.0,27.0,10.0,48.0,Snow
2,2009,Jan,3,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,...,1018.0,1015.0,1008.0,16.0,16.0,16.0,27.0,16.0,42.0,NaN
3,2009,Jan,4,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,1020.0,1017.0,1015.0,16.0,16.0,16.0,32.0,12.0,40.0,NaN
4,2009,Jan,5,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,...,1016.0,1014.0,1013.0,16.0,16.0,16.0,23.0,11.0,34.0,NaN

In [96]:
train.isnull().sum()

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    12
dtype: int64

In [97]:
test.isnull().sum()

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    36
dtype: int64

In [98]:
weather.isnull().sum()

Year                              0
Month                             0
Day                               0
Temp high (°C)                    2
Temp avg (°C)                     2
Temp low (°C)                     2
Dew Point high (°C)               2
Dew Point avg (°C)                2
Dew Point low (°C)                2
Humidity (%) high                 2
Humidity (%) avg                  2
Humidity (%) low                  2
Sea Level Press. (hPa) high      19
Sea Level Press. (hPa) avg       19
Sea Level Press. (hPa) low       19
Visibility (km) high             28
Visibility (km) avg              28
Visibility (km) low              28
Wind (km/h) low                  20
Wind (km/h) avg                  20
Wind (km/h) high                 59
WeatherEvent                   1907
dtype: int64

In [99]:
weather.columns

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'WeatherEvent'],
      dtype='object')

In [100]:
weather.drop("WeatherEvent",axis = 1,inplace = True)

In [101]:
weather["Month"] =weather["Month"].str.replace("Jan","1")
weather["Month"] =weather["Month"].str.replace("Feb","2")
weather["Month"]=weather["Month"].str.replace("Mar","3")
weather["Month"]=weather["Month"].str.replace("Apr","4")
weather["Month"]=weather["Month"].str.replace("May","5")
weather["Month"]=weather["Month"].str.replace("Jun","6")
weather["Month"]=weather["Month"].str.replace("Jul","7")
weather["Month"]=weather["Month"].str.replace("Aug","8")
weather["Month"]=weather["Month"].str.replace("Sep","9")
weather["Month"]=weather["Month"].str.replace("Oct","10")
weather["Month"]=weather["Month"].str.replace("Nov","11")
weather["Month"]=weather["Month"].str.replace("Dec","12")

In [102]:
weather["Month"] =pd.to_numeric(weather["Month"])

In [103]:
weather["Year"].value_counts()

2016    366
2012    366
2015    365
2013    365
2011    365
2009    365
2010    365
2014    364
Name: Year, dtype: int64

In [104]:
y1 = weather[weather["Year"]== 2009]
y1_V = y1.groupby("Month", as_index=False).agg("mean")
y2 = weather[weather["Year"]== 2010]
y2_V = y2.groupby("Month", as_index=False).agg("mean")
y3 = weather[weather["Year"]== 2011]
y3_V = y3.groupby("Month", as_index=False).agg("mean")
y4 = weather[weather["Year"]== 2012]
y4_V = y4.groupby("Month", as_index=False).agg("mean")
y5 = weather[weather["Year"]== 2013]
y5_V = y5.groupby("Month", as_index=False).agg("mean")
y6 = weather[weather["Year"]== 2014]
y6_V = y6.groupby("Month", as_index=False).agg("mean")
y7 = weather[weather["Year"]== 2015]
y7_V = y7.groupby("Month", as_index=False).agg("mean")
y8 = weather[weather["Year"]== 2016]
y8_V = y8.groupby("Month", as_index=False).agg("mean")

In [105]:
weather = pd.concat([y1_V,y2_V,y3_V,y4_V,y5_V,y6_V,y7_V,y8_V])

In [106]:
weather.drop("Day",axis = 1, inplace = True)

In [107]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 11
Data columns (total 20 columns):
Month                          96 non-null int64
Year                           96 non-null float64
Temp high (°C)                 96 non-null float64
Temp avg (°C)                  96 non-null float64
Temp low (°C)                  96 non-null float64
Dew Point high (°C)            96 non-null float64
Dew Point avg (°C)             96 non-null float64
Dew Point low (°C)             96 non-null float64
Humidity (%) high              96 non-null float64
Humidity (%) avg               96 non-null float64
Humidity (%) low               96 non-null float64
Sea Level Press. (hPa) high    96 non-null float64
Sea Level Press. (hPa) avg     96 non-null float64
Sea Level Press. (hPa) low     96 non-null float64
Visibility (km) high           96 non-null float64
Visibility (km) avg            96 non-null float64
Visibility (km) low            96 non-null float64
Wind (km/h) low                96 non-null float64
Wind (km/h) avg                96 non-null float64
Wind (km/h) high               96 non-null float64
dtypes: float64(19), int64(1)
memory usage: 15.8 KB

In [108]:
weather["Year"] =weather["Year"].astype(int)

In [109]:
weather.dropna(axis = 0, inplace = True)

In [110]:
weather.isnull().sum().sum()

0

In [111]:
train["data"]= "train"
test["data"] = "test"

In [112]:
tt = pd.concat([train,test])
tt["data"].value_counts()

train    216
test      36
Name: data, dtype: int64

In [113]:
macro = macro.join(macro["Year-Month"].str.split("-",expand = True).rename(columns={0:"Year",1:"Month"}))

In [114]:

macro = macro.drop("Year-Month", axis = 1)

In [115]:
macro["Month"] =macro["Month"].str.replace("Jan","1")
macro["Month"] =macro["Month"].str.replace("Feb","2")
macro["Month"]=macro["Month"].str.replace("Mar","3")
macro["Month"]=macro["Month"].str.replace("Apr","4")
macro["Month"]=macro["Month"].str.replace("May","5")
macro["Month"]=macro["Month"].str.replace("Jun","6")
macro["Month"]=macro["Month"].str.replace("Jul","7")
macro["Month"]=macro["Month"].str.replace("Aug","8")
macro["Month"]=macro["Month"].str.replace("Sep","9")
macro["Month"]=macro["Month"].str.replace("Oct","10")
macro["Month"]=macro["Month"].str.replace("Nov","11")
macro["Month"]=macro["Month"].str.replace("Dec","12")

In [116]:



macro["Month"] =pd.to_numeric(macro["Month"])

macro["Year"] =pd.to_numeric(macro["Year"])

In [117]:
macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 20 columns):
Monthly Nominal GDP Index (inMillion$)                               96 non-null float64
Monthly Real GDP Index (inMillion$)                                  96 non-null float64
CPI                                                                  96 non-null float64
PartyInPower                                                         96 non-null object
unemployment rate                                                    96 non-null float64
CommercialBankInterestRateonCreditCardPlans                          96 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    96 non-null float64
Earnings or wages  in dollars per hour                               96 non-null float64
AdvertisingExpenses (in Thousand Dollars)                            96 non-null object
Cotton Monthly Price - US cents per Pound(lbs)                       96 non-null float64
Change(in%)                                                          96 non-null float64
Average upland planted(million acres)                                96 non-null float64
Average upland harvested(million acres)                              96 non-null float64
yieldperharvested acre                                               96 non-null int64
Production (in  480-lb netweright in million bales)                  96 non-null float64
Mill use  (in  480-lb netweright in million bales)                   96 non-null float64
Exports                                                              96 non-null float64
Unnamed: 18                                                          0 non-null float64
Year                                                                 96 non-null int64
Month                                                                96 non-null int64
dtypes: float64(15), int64(3), object(2)
memory usage: 15.1+ KB

In [118]:
wt = pd.merge(weather,tt, on=["Year","Month"], how="inner")

In [122]:
wt =pd.get_dummies(data = wt, columns = ["Month","ProductCategory"],drop_first = "True")

In [119]:
wt.shape

(252, 23)

In [120]:
wtm = pd.merge(wt,macro, on=["Year","Month"], how="inner")

In [121]:
wtm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 251
Data columns (total 41 columns):
Month                                                                252 non-null int64
Year                                                                 252 non-null int32
Temp high (°C)                                                       252 non-null float64
Temp avg (°C)                                                        252 non-null float64
Temp low (°C)                                                        252 non-null float64
Dew Point high (°C)                                                  252 non-null float64
Dew Point avg (°C)                                                   252 non-null float64
Dew Point low (°C)                                                   252 non-null float64
Humidity (%) high                                                    252 non-null float64
Humidity (%) avg                                                     252 non-null float64
Humidity (%) low                                                     252 non-null float64
Sea Level Press. (hPa) high                                          252 non-null float64
Sea Level Press. (hPa) avg                                           252 non-null float64
Sea Level Press. (hPa) low                                           252 non-null float64
Visibility (km) high                                                 252 non-null float64
Visibility (km) avg                                                  252 non-null float64
Visibility (km) low                                                  252 non-null float64
Wind (km/h) low                                                      252 non-null float64
Wind (km/h) avg                                                      252 non-null float64
Wind (km/h) high                                                     252 non-null float64
ProductCategory                                                      252 non-null object
Sales(In ThousandDollars)                                            204 non-null float64
data                                                                 252 non-null object
Monthly Nominal GDP Index (inMillion$)                               252 non-null float64
Monthly Real GDP Index (inMillion$)                                  252 non-null float64
CPI                                                                  252 non-null float64
PartyInPower                                                         252 non-null object
unemployment rate                                                    252 non-null float64
CommercialBankInterestRateonCreditCardPlans                          252 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    252 non-null float64
Earnings or wages  in dollars per hour                               252 non-null float64
AdvertisingExpenses (in Thousand Dollars)                            252 non-null object
Cotton Monthly Price - US cents per Pound(lbs)                       252 non-null float64
Change(in%)                                                          252 non-null float64
Average upland planted(million acres)                                252 non-null float64
Average upland harvested(million acres)                              252 non-null float64
yieldperharvested acre                                               252 non-null int64
Production (in  480-lb netweright in million bales)                  252 non-null float64
Mill use  (in  480-lb netweright in million bales)                   252 non-null float64
Exports                                                              252 non-null float64
Unnamed: 18                                                          0 non-null float64
dtypes: float64(34), int32(1), int64(2), object(4)
memory usage: 81.7+ KB

In [738]:
#wtm.drop("ProductCategory", axis = 1, inplace = True)

In [123]:
wtm.drop("AdvertisingExpenses (in Thousand Dollars)", axis = 1, inplace = True)

In [124]:
wtm.drop("PartyInPower", axis = 1, inplace = True)

In [125]:
wtm =pd.get_dummies(data = wtm, columns = ["Month","ProductCategory"])

In [126]:
wtm.shape

(252, 52)

In [127]:
wtm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 251
Data columns (total 52 columns):
Year                                                                 252 non-null int32
Temp high (°C)                                                       252 non-null float64
Temp avg (°C)                                                        252 non-null float64
Temp low (°C)                                                        252 non-null float64
Dew Point high (°C)                                                  252 non-null float64
Dew Point avg (°C)                                                   252 non-null float64
Dew Point low (°C)                                                   252 non-null float64
Humidity (%) high                                                    252 non-null float64
Humidity (%) avg                                                     252 non-null float64
Humidity (%) low                                                     252 non-null float64
Sea Level Press. (hPa) high                                          252 non-null float64
Sea Level Press. (hPa) avg                                           252 non-null float64
Sea Level Press. (hPa) low                                           252 non-null float64
Visibility (km) high                                                 252 non-null float64
Visibility (km) avg                                                  252 non-null float64
Visibility (km) low                                                  252 non-null float64
Wind (km/h) low                                                      252 non-null float64
Wind (km/h) avg                                                      252 non-null float64
Wind (km/h) high                                                     252 non-null float64
Sales(In ThousandDollars)                                            204 non-null float64
data                                                                 252 non-null object
Monthly Nominal GDP Index (inMillion$)                               252 non-null float64
Monthly Real GDP Index (inMillion$)                                  252 non-null float64
CPI                                                                  252 non-null float64
unemployment rate                                                    252 non-null float64
CommercialBankInterestRateonCreditCardPlans                          252 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    252 non-null float64
Earnings or wages  in dollars per hour                               252 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       252 non-null float64
Change(in%)                                                          252 non-null float64
Average upland planted(million acres)                                252 non-null float64
Average upland harvested(million acres)                              252 non-null float64
yieldperharvested acre                                               252 non-null int64
Production (in  480-lb netweright in million bales)                  252 non-null float64
Mill use  (in  480-lb netweright in million bales)                   252 non-null float64
Exports                                                              252 non-null float64
Unnamed: 18                                                          0 non-null float64
Month_1                                                              252 non-null uint8
Month_2                                                              252 non-null uint8
Month_3                                                              252 non-null uint8
Month_4                                                              252 non-null uint8
Month_5                                                              252 non-null uint8
Month_6                                                              252 non-null uint8
Month_7                                                              252 non-null uint8
Month_8                                                              252 non-null uint8
Month_9                                                              252 non-null uint8
Month_10                                                             252 non-null uint8
Month_11                                                             252 non-null uint8
Month_12                                                             252 non-null uint8
ProductCategory_MenClothing                                          252 non-null uint8
ProductCategory_OtherClothing                                        252 non-null uint8
ProductCategory_WomenClothing                                        252 non-null uint8
dtypes: float64(34), int32(1), int64(1), object(1), uint8(15)
memory usage: 77.5+ KB

In [128]:
wtm.drop("Unnamed: 18",axis = 1,inplace = True)

In [129]:
wt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 251
Data columns (total 34 columns):
Year                             252 non-null int32
Temp high (°C)                   252 non-null float64
Temp avg (°C)                    252 non-null float64
Temp low (°C)                    252 non-null float64
Dew Point high (°C)              252 non-null float64
Dew Point avg (°C)               252 non-null float64
Dew Point low (°C)               252 non-null float64
Humidity (%) high                252 non-null float64
Humidity (%) avg                 252 non-null float64
Humidity (%) low                 252 non-null float64
Sea Level Press. (hPa) high      252 non-null float64
Sea Level Press. (hPa) avg       252 non-null float64
Sea Level Press. (hPa) low       252 non-null float64
Visibility (km) high             252 non-null float64
Visibility (km) avg              252 non-null float64
Visibility (km) low              252 non-null float64
Wind (km/h) low                  252 non-null float64
Wind (km/h) avg                  252 non-null float64
Wind (km/h) high                 252 non-null float64
Sales(In ThousandDollars)        204 non-null float64
data                             252 non-null object
Month_2                          252 non-null uint8
Month_3                          252 non-null uint8
Month_4                          252 non-null uint8
Month_5                          252 non-null uint8
Month_6                          252 non-null uint8
Month_7                          252 non-null uint8
Month_8                          252 non-null uint8
Month_9                          252 non-null uint8
Month_10                         252 non-null uint8
Month_11                         252 non-null uint8
Month_12                         252 non-null uint8
ProductCategory_OtherClothing    252 non-null uint8
ProductCategory_WomenClothing    252 non-null uint8
dtypes: float64(19), int32(1), object(1), uint8(13)
memory usage: 45.5+ KB

In [130]:
wt.shape

(252, 34)

In [131]:
wtm.shape

(252, 51)

In [132]:
from sklearn.decomposition import PCA

In [133]:
train_wtm = wtm[wtm["data"]== "train"]
test_wtm = wtm[wtm["data"]== "test"]

In [134]:
train_wt = wt[wt["data"]== "train"]
test_wt = wt[wt["data"]== "test"]

In [135]:
test_wt.drop(["data","Sales(In ThousandDollars)"], axis = 1, inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [136]:
train_wt.dropna(axis = 0,inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
train_wtm.dropna(axis = 0,inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [138]:
test_wtm.drop(["data","Sales(In ThousandDollars)"], axis = 1, inplace = True)

In [139]:
train_wt.drop(["data"], axis = 1, inplace = True)

In [140]:
train_wtm.drop(["data"], axis = 1, inplace = True)

In [141]:
x_wt = train_wt.drop("Sales(In ThousandDollars)", axis = 1)

In [142]:
y_wt = train_wt["Sales(In ThousandDollars)"]

In [143]:
x_wtm = train_wtm.drop("Sales(In ThousandDollars)", axis = 1)

In [144]:
y_wtm = train_wtm["Sales(In ThousandDollars)"]

In [145]:
from sklearn.model_selection import train_test_split

In [146]:
xtrain_wt,xtest_wt,ytrain_wt,ytest_wt = train_test_split(x_wt,y_wt, test_size = 0.3, random_state=3)

In [147]:
xtrain_wtm,xtest_wtm,ytrain_wtm,ytest_wtm = train_test_split(x_wtm,y_wtm, test_size = 0.3, random_state=3)

# Linear Regression before scaling

In [148]:
from sklearn.linear_model import LinearRegression

In [149]:
lr = LinearRegression()

In [150]:
lr.fit(xtrain_wt,ytrain_wt)
predict = lr.predict(xtest_wt)
lr.score(xtest_wt,ytest_wt)

0.8740568578813115

# scaling

In [151]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain_wt = sc.fit_transform(xtrain_wt)
Xtest_wt = sc.fit_transform(xtest_wt)

# Linear Regression after scaling

In [152]:
lr.fit(Xtrain_wt,ytrain_wt)
predict = lr.predict(Xtest_wt)
lr.score(Xtest_wt,ytest_wt)

0.8535792249154659

In [153]:
X_wt = sc.fit_transform(x_wt)
Y_wt = sc.transform(test_wt)

In [154]:
X_wtm = sc.fit_transform(x_wtm)
Y_wtm = sc.transform(test_wtm)

In [175]:
#wt

In [157]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
dt = DecisionTreeRegressor(criterion='mse',random_state = 1,max_depth=3, min_samples_leaf=5)

dt.fit(Xtrain_wt, ytrain_wt)

y_pred_d =dt.predict(Xtest_wt)

mse_d=mean_squared_error(ytest_wt
                         ,y_pred_d)

rmse_d=np.sqrt(mse_d)

rmse_d

489.1499447704112

In [ ]:
#wtm

In [174]:
dt = DecisionTreeRegressor(criterion='mse',random_state = 1,max_depth=3, min_samples_leaf=5)

dt.fit(xtrain_wtm, ytrain_wtm)

y_pred_d =dt.predict(xtest_wtm)

mse_d=mean_squared_error(ytest_wtm
                         ,y_pred_d)

rmse_d=np.sqrt(mse_d)

rmse_d

408.8452845106876

# RandomForestRegressor

In [167]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
RF = RandomForestRegressor(random_state=1)

In [170]:
param_grid = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': np.arange(1,101,10)}
RF_GSCV = GridSearchCV(RF,param_grid,cv=2)
RF_GSCV.fit(Xtrain_wt,ytrain_wt)
model = RF_GSCV.best_estimator_
model.fit(Xtrain_wt,ytrain_wt)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=5,
                      min_weight_fraction_leaf=0.0, n_estimators=91,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [173]:

y_pred_r = model.predict(Xtest_wt)
mse_r=mean_squared_error(ytest_wt,y_pred_r)

rmse_r=np.sqrt(mse_r)

rmse_r

448.4941792554019

In [176]:
RF_GSCV.fit(xtrain_wtm,ytrain_wtm)
model = RF_GSCV.best_estimator_
model.fit(xtrain_wtm,ytrain_wtm)
y_pred_r = model.predict(xtest_wtm)
mse_r=mean_squared_error(ytest_wtm,y_pred_r)

rmse_r=np.sqrt(mse_r)

rmse_r

401.9201913796523

# Adaboost

In [177]:
from sklearn.ensemble import AdaBoostRegressor
model=DecisionTreeRegressor()
Adaboost=AdaBoostRegressor(base_estimator=model,n_estimators=100,learning_rate=1)
model2=Adaboost.fit(xtrain_wtm,ytrain_wtm)

In [178]:
y_pred_ad = Adaboost.predict(xtest_wtm)

mse_ad=mean_squared_error(ytest_wtm,y_pred_ad)

rmse_ad=np.sqrt(mse_ad)

rmse_ad

376.17960706847674

# ExtraTreesRegressor

In [179]:
from sklearn.ensemble import ExtraTreesRegressor

ec = ExtraTreesRegressor(criterion='mse',random_state = 1,max_depth=3, min_samples_leaf=5)

ec.fit(xtrain_wtm, ytrain_wtm)

y_pred_ec =ec.predict(xtest_wtm)

mse_ec=mean_squared_error(ytest_wtm,y_pred_ec)

rmse_ec=np.sqrt(mse_ec)

rmse_ec

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

416.548430132557

----------------------
Among above all the models, I got best RMSE for Adaboost in Hackathon